body
{
	font-size:100%!important;
	margin:0;
	padding:0;
	width:1000px;
	line-height:1.0em;
}
a img
{
	border:none;
}
#wrapper
{
	font-size:80%!important;
}
.containerHeader
{
	line-height:1em;
}
.containerHeader a,
.containerHeader a:link,
.containerHeader a:visited
{
	color:#fff;
	text-decoration:none!important;
}
.containerSubHeader ul li a
{
	text-decoration: none!important;
}
.containerHeader a:hover,
.containerSubHeader ul li a:hover
{
	text-decoration:underline!important;
}
.containerHeader h1,
.containerHeader h2,
.containerHeader h3,
.containerHeader h4,
.containerHeader p,
.containerHeader ul,
.containerHeader li,
.containerHeader input,
.containerHeader form,
.containerHeader fieldset,
#country_select ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}
.containerHeader,
.containerSubHeader
{
	font-family:Arial, Helvetica, sans-serif;
}
.containerHeaderInner,
.containerSubHeaderInner
{
	width:1000px;
	margin:0px auto;
}
.containerHeader
{
	background:#fff url("../images/masthead-white01/background/header-gradient-no-sub2.gif") bottom repeat-x;
	padding-bottom:0px;
}
.containerHeaderInner
{
	background:#fff url("../images/masthead-white01/background/header-gradient-no-sub2.gif") bottom repeat-x;
	padding-bottom:0px;
}

.containerSubHeader
{
	background:#D52E2E url("../images/masthead-white01/background/sub-nav-bg-double.gif") left bottom repeat-x;
}

.containerSubHeaderInner
{
	/*padding-bottom:4px;*/
}
/*.containerSubHeader {}

.containerSubHeader,
.containerSubHeaderInner
{
	background:#D52E2E url("../images/masthead-white01/background/sub-nav-bg-double.gif") left bottom repeat-x;
}*/
.containerHeaderInner:after,
.containerSubHeaderInner:after
{
	visibility:hidden;
	display:block;
	content:".";
	clear:both;
	height:0;
}
.containerBody,
.containerFooter
{
	clear:both;
	width:960px;
	margin:0px auto;
}
.headerContainer01
{
	float:left;
}
.headerContainer02,
.headerContainer03
{
	float:right;
	clear:right;
	width:600px;
	padding-top:10px;
}
.headerContainer04
{
	float:left;
	width:300px;
}
.headerContainer05
{
	float:left;
	width:100%;
}
/*
-------------------------------------
|	Divlets							|
-------------------------------------
*/
.divletLogo
{
	padding:8px 0px 7px 27px;
}
.divletLogo a
{
	background:url("../images/masthead-white01/logo-on-white.gif") no-repeat top left;
	display:block;
	width:300px;
	height:32px;
}
.divletLogo span
{
	position:absolute;
	top:-9999px;
}
.divletSupport
{
	float:right;
	padding-top:13px;
	padding-bottom:14px;
	clear:right;
}
.divletSupport p
{
	float:left;
	position:relative;
	right:-12px;
	padding:0px;
	margin-top:-2px;
	padding-right:7px;
	background:transparent url("../images/masthead-white01/background/pipe.gif") no-repeat scroll right top;
}
.divletSupport ul
{
	float:left;
}
.divletSupport ul li
{
	float:left;
	color:#fff;
	padding:3px 5px 0px 6px;
	background:url("../images/masthead-white01/background/pipe.gif") no-repeat left top;
	z-index:0;
	font-size:75%;
}
.divletSupport ul li.lastItem
{
	padding-right:0px;
}
.divletSupport ul li.first
{
	background:none;
}
.divletSupport a,
.divletSupport a:visited
{
	color:#191919!important;
}
.divletSupport ul li a img
{
	padding:0 4px;
	margin-top:1px;
	vertical-align:middle;
}
.divletEntity
{
	float:right;
	margin:-10px 1px 0px 0px;
}
.divletLanguage
{
	float:left;
	position:relative;
	right:-6px;
	top:-7px;
}
.divletEntity a.dropDownLink,
.divletLanguage a.dropDownLink,
.divletEntity a.dropDownLink:visited,
.divletLanguage a.dropDownLink:visited
{
	color:#191919;
	font-size:87%;
	display:block;
}
.divletEntity a.dropDownLink,
.divletEntity a.dropDownLink:visited
{
	margin-right:4px;
}
.divletEntity a span,
.divletLanguage a span
{
	display:block;
	padding:12px 23px 8px 10px;
}
.dropDownLink span
{
}
.divletEntity h2,
.divletLanguage h2
{
	padding-bottom:20px;
	color:#cc1414;
	font-size:125%;
}
.divletEntity h3,
.divletLanguage h3
{
	padding-bottom:5px;
	color:#191919;
	font-size:75%;
}
.divletEntity ul,
#country_select ul
{
	padding-bottom:20px;
}
.divletEntity ul li,
#country_select ul li
{
	padding-bottom:3px;
	line-height:1.2em;
	font-size:75%;
}
.divletEntity ul li a,
#country_select ul li a
{
	text-decoration:underline;
}
.divletEntity a
{
	color:#191919;
}
.headerContainer02 .divletSearch
{
	float:left;
	margin:0px 0px 0px 10px;
	padding:0;
}
.headerContainer03 .divletSearch
{
	float:right;
	margin:0;
	padding:0;
}
.divletSearch form
{
	float:left;
	padding:0px 6px 1px;
	margin:0;
}
.divletSearch form fieldset
{
	border:none;
	margin:0px;
	padding:0px;
	float:left;
}
.divletSearch form input
{
	background:none;
	border:0;
	color:#fff;
	overflow:visible;
	cursor:pointer;
	font-weight:bold;
	font-size:69%;
	padding:2px 0px 0px 10px;
	margin:0px;
	float:right;
}

.divletSearch form input#search
{
	cursor:text;
	width:144px;
	font-weight:normal;
	padding:3px 0px 3px 0px;
	float:left;
	overflow:hidden;
	color:#666;
}
.divletSearch form input#search:hover
{
	color:#666;
}
.divletNavigation
{
	float:left;
	clear:both;
	width:100%;
}
.divletNavigation ul
{
	float:left;
	clear:left;
	margin:0px 0px 0px;
	position:relative;
}
.divletNavigation ul.list01
{
	float:left;
}
.divletNavigation ul.list02
{
	float:right;
	padding-left:10px;
}
.divletNavigation ul li
{
	float:left;
	font-size:75%;
	margin-right:0px;
}
.divletNavigation ul.list02 li
{
	padding:4px 0px 0px 1px;
	margin-right:0px;
	margin-left:1px;
}
div.headerContainer04 .divletNavigation {
	padding-left:24px;
}
div.headerContainer04 .divletNavigation ul li
{
	float:left;
	background:transparent url("../images/masthead-white01/background/main-tab-bg.gif") left bottom repeat-x!important;
	height:33px;
}
div.headerContainer04 .divletNavigation ul li a
{
	float:left;
	height:33px;
	background:url("../images/masthead-white01/background/main-tab-bg-a.gif") no-repeat bottom right!important;
	color:#fff!important;
}
div.headerContainer04 .divletNavigation ul li.selected,
div.headerContainer04 .divletNavigation ul li.firstAndSelected,
div.headerContainer04 .divletNavigation ul li.lastAndSelected
{
	border:none;
	background:url("../images/masthead-white01/background/main-tab-bg-on.gif") left bottom no-repeat!important;
}
div.headerContainer04 .divletNavigation ul li.selected a,
div.headerContainer04 .divletNavigation ul li.firstAndSelected a,
div.headerContainer04 .divletNavigation ul li.lastAndSelected a
{
	background:url("../images/masthead-white01/background/main-tab-bg-a-on.gif") right bottom no-repeat!important;
}

div.headerContainer05 .divletNavigation ul li.selected,
div.headerContainer05 .divletNavigation ul li.firstAndSelected,
div.headerContainer05 .divletNavigation ul li.lastAndSelected
{
	border:none;
	background:url("../images/masthead-white01/background/sub-tab-bg-on.gif") left bottom no-repeat;
	padding:0px;
	margin-top:4px;
	margin-bottom:-4px;
}
div.headerContainer05 .divletNavigation ul.doubleLine li.selected,
div.headerContainer05 .divletNavigation ul.doubleLine li.firstAndSelected,
div.headerContainer05 .divletNavigation ul.doubleLine li.lastAndSelected
{
	background:url("../images/masthead-white01/background/sub-tab-bg-on-double2.gif") left bottom no-repeat;
}

div.headerContainer05 .divletNavigation ul li.afterSelected,
div.headerContainer05 .divletNavigation ul li.lastAndAfterSelected
{
	background:none;
}

div.headerContainer05 .divletNavigation ul li.afterSelected a,
div.headerContainer05 .divletNavigation ul li.lastAndAfterSelected a
{
	padding-left:5px;
}
div.headerContainer05 .divletNavigation ul li.beforeSelected a
{
	padding-right:6px;
}
div.headerContainer05 .divletNavigation ul li.selected a,
div.headerContainer05 .divletNavigation ul li.firstAndSelected a,
div.headerContainer05 .divletNavigation ul li.lastAndSelected a
{
	background:url("../images/masthead-white01/background/sub-tab-bg-a-on.gif") right bottom no-repeat!important;
	color:#E50B0B!important;
	/*line-height:34px;*/
	padding:11px 9px 11px 9px!important;
}

div.headerContainer05 .divletNavigation ul.doubleLine li.selected a,
div.headerContainer05 .divletNavigation ul.doubleLine li.firstAndSelected a,
div.headerContainer05 .divletNavigation ul.doubleLine li.lastAndSelected a
{
	line-height:36px;
	background:url("../images/masthead-white01/background/sub-tab-bg-a-on-double2.gif") right bottom no-repeat!important;
}


.divletNavigation ul li.beforeSelected {}
.divletNavigation ul li.afterSelected {}
.divletNavigation ul li.first {}
.divletNavigation ul li.last {}
.divletNavigation ul li.firstAndBeforeSelected {}
.divletNavigation ul li.lastAndAfterSelected {}

.divletNavigation ul li a,
.divletNavigation ul li a:visited
{
	display:block;
	padding:0px 30px;
	line-height:36px;
	color:#191919;
	background:#fff;
}

div.headerContainer04 .divletNavigation ul li.selected a,
div.headerContainer04 .divletNavigation ul li.firstAndSelected a,
div.headerContainer04 .divletNavigation ul li.lastAndSelected a,
div.headerContainer04 .divletNavigation ul li.selected a:visited,
div.headerContainer04 .divletNavigation ul li.firstAndSelected a:visited,
div.headerContainer04 .divletNavigation ul li.lastAndSelected a:visited
{
	color:#fff;
}
.containerSubHeader .divletNavigation ul
{
	width:980px;
	margin:0px;
	padding:0px 0px 0px 15px;
}
.containerSubHeader .divletNavigation ul li
{
	background:url("../images/masthead-white01/background/pipe2.gif") no-repeat left;
	padding:0px 1px 0px 0px;

	margin-bottom:4px;
	list-style:none;
}
.containerSubHeader .divletNavigation ul.doubleLine li
{
	background:url("../images/masthead-white01/background/pipe2.gif") no-repeat left;
}
.containerSubHeader .divletNavigation ul li a,
.containerSubHeader .divletNavigation ul li a:visited
{
	display:block;
	padding:11px 6px 11px 9px;
	line-height:1.2em;
	color:#fff;
	background:none;
	white-space:nowrap;
	padding-left:9px!important;
	padding-right:6px!important;
}
.containerSubHeader .divletNavigation ul li.selected a,
.containerSubHeader .divletNavigation ul li.selected a:visited
{
	color:#fff;
}
.containerSubHeader .divletNavigation ul li.colourStyle01 a,
.containerSubHeader .divletNavigation ul li.colourStyle01 a:visited
{
	color:#2a8000;
}
.containerSubHeader .divletNavigation ul.extTwoLineMenu li
{
	background:url("../images/masthead-white01/background/pipe3.gif") no-repeat left;
	text-align:center;
}
.containerSubHeader .divletNavigation ul.extTwoLineMenu li a
{
	line-height:1.3em;
	vertical-align:middle;
	padding:5px 9px 8px 10px;
}
.containerSubHeader .divletNavigation ul.extTwoLineMenu li.oneLine a
{
	line-height:3em;
}
.containerSubHeader .divletNavigation ul li.first,
.containerSubHeader .divletNavigation ul li.firstAndBeforeSelected
{
	background:none;
}
.containerSubHeader .divletNavigation ul li.first a,
.containerSubHeader .divletNavigation ul li.firstAndBeforeSelected a
{
	padding-left:0px!important;
}

/*-------------------------------------
dropdown styles
--------------------------------------*/

.dropDownLink
{
	font-size:81.25%!important;
	background:url("../images/masthead-white01/background/dropdownarrow.gif") no-repeat top left;
}
.dropDownParent {
	position:relative;
}
.dropDownParent iframe,
.dropDownContent
{
	position:absolute;
	right:-300px;
	top:37px;
	z-index:20;
	display:none;
	text-align:left;
}
.dropDownContent .wrapper
{
	padding:23px;
}
.divletEntity .dropDownContent .wrapper
{
	background:url("../images/masthead-white01/background/go-local-main-top.png") no-repeat top left;
	float:left;
	display:inline;
	width:794px;
}
.dropDownContent div .column,
#country_select .column
{
	float:left;
	width:157px;
}
.dropDownLink {
	position:relative;
	z-index:10;
}
.dropDownOpen {
	z-index:12!important;
}
.dropDownOpen .dropDownLink {
	z-index:30;
}
.divletEntity .dropDownContent
{
	background:url("../images/masthead-white01/background/go-local-main-bottom.png") no-repeat bottom left;
	width:1000px;
	top:30px;
	padding-bottom:6px;
	float:left;
}
.divletLanguage .dropDownContent
{
	top:34px;
}
.headerContainer03 a.dropDownLink
{
	text-decoration:none;
	background:url("../images/masthead-white01/background/dropdownarrow-country.gif") no-repeat top right;
}
.headerContainer03 a.dropDownLink:hover
{
	text-decoration:none!important;
	background:url("../images/masthead-white01/background/dropdownarrow-country-h-end.gif") no-repeat top left;
}
.headerContainer03 a.dropDownLink:hover span
{
	background:url("../images/masthead-white01/background/dropdownarrow-country-hover.gif") no-repeat top right;
}
.headerContainer03 .dropDownOpen a.dropDownLink,
.headerContainer03 .dropDownOpen a.dropDownLink:hover
{
	background:url("../images/masthead-white01/background/go-local-link-left.png") no-repeat top left;
	margin-right:0!important;
}
.headerContainer03 .dropDownOpen a.dropDownLink span,
.headerContainer03 .dropDownOpen a.dropDownLink:hover span
{
	background:url("../images/masthead-white01/background/go-local-link-right.png") no-repeat top right;
	padding-right:27px;
	padding-left:15px;
}
.divletLanguage
{
	float:left;
	margin:0;
}
.headerContainer02 a.dropDownLink
{
	margin:0px;
	padding:0px;
	display:block;
}
.divletLanguage a span
{
	display:block;
	padding:7px 6px 9px 12px;
}
.headerContainer02 .dropDownContent
{
	background:url("../images/masthead-white01/background/language-main-bottom.png") no-repeat bottom left;
	width:243px;
	margin-top:-7px;
	padding:0 0px 6px 0px;
	float:left;
}
.headerContainer02 .dropDownContent .wrapper
{
	background:url("../images/masthead-white01/background/language-main-top.png") no-repeat top left;
	float:left;
	display:inline;
	width:231px;
	padding:0 6px;
}
.headerContainer02 .dropDownContent ul
{
	margin:6px 0 0 0;
	padding:0;
}
.headerContainer02 .dropDownContent ul li
{
	clear:both;
	float:left;
	background:none;
	border-bottom:1px solid #ddd;
	background:#fff;
	padding:0;
}
.headerContainer02 .dropDownContent ul li.selected
{
	background:#f2f2f2 url("../images/masthead-white01/background/language-selected.gif") top right no-repeat;
}
.headerContainer02 .dropDownContent .wrapper ul li.selected a
{
	color:#191919!important;
}
.headerContainer02 .dropDownContent ul li.lastItem,
.headerContainer03 .divletMorePrimary .dropDownContent ul li.lastItem
{
	border-bottom:none;
}
.headerContainer02 .dropDownContent .wrapper ul li a
{
	display:block;
	padding:10px;
	font-size:100%;
	float:left;
	text-decoration:none;
	width:211px;
	color:#cc1414!important;
}
.headerContainer02 .dropDownContent ul li a img,
.headerContainer02 .dropDownContent ul li a span
{
	float:left;
	padding:0 5px 0 0 ;
}
.headerContainer02 .dropDownContent ul li a:hover span
{
	text-decoration:underline;
	cursor:pointer;
}
.headerContainer02 .dropDownContent ul li a:hover
{
	background:#f2f2f2;
}
.headerContainer02 .dropDownContent ul li.selected a:hover
{
	background:#f2f2f2 url("../images/masthead-white01/background/language-selected.gif") top right no-repeat;
}
.headerContainer02 a.dropDownLink
{
	background:none;
	text-decoration:none;
	font-size:75%;
	background:none;
	margin-left:5px;
}
.headerContainer02 a.dropDownLink span
{
	background:url("../images/masthead-white01/background/dropdarrow2-country.gif") no-repeat top right;
	padding-right:22px;
	padding-left:12px;
}
.headerContainer02 a.dropDownLink span img
{
	position:relative;
	top:4px;
	right:4px;
}
.headerContainer02 a.dropDownLink:hover
{
	margin-right:4px;
	text-decoration:none!important;
	background:url("../images/masthead-white01/background/dropdarrow2-country-hover.gif") no-repeat top right;

}
.headerContainer02 a.dropDownLink:hover span
{
	text-decoration:none!important;
	padding-right:18px;
	background:url("../images/masthead-white01/background/dropdarrow2-country-hover-end.gif") no-repeat top left;
}
.headerContainer02 .dropDownOpen a.dropDownLink,
.headerContainer02 .dropDownOpen a.dropDownLink:hover
{
	background:url("../images/masthead-white01/background/language-link-left.png") no-repeat top left;
	margin-right:0px;
	padding-right:0px;
	padding-left:5px;
	margin-left:0px;
}
.headerContainer02 .dropDownOpen a.dropDownLink span,
.headerContainer02 .dropDownOpen a.dropDownLink:hover span
{
	background:url("../images/masthead-white01/background/language-link-right.png") no-repeat top right;
	padding-right:22px;
}
.containerHeader .homeLink
{
	font-size:81.25%;
}
.divletSearch
{
	background:url("../images/masthead-white01/background/search-right.gif") no-repeat top right;
	width:220px!important;
}
.divletSupport p
{
	padding-top:1px;
	margin-top:0;
}
.divletSearch form
{
	background:url("../images/masthead-white01/background/search-left.gif") no-repeat top left;
}
.headerContainer02,
.headerContainer03
{
	padding-top:0px;
}

/*extTwoLine - Tab two line text*/
.divletNavigation ul.doubleLine li a,
.divletNavigation ul.doubleLine li a:visited
{
	line-height:36px;
	text-align:center;
}
.containerHeader .containerHeaderInner .divletNavigation ul
{
	text-align:center!important;
}
.divletNavigation ul li a.extDoubleLine
{
	padding:5px 10px 5px!important;
	line-height:1.1em!important;
}
.divletNavigation ul li.selected a.extDoubleLine
{
	padding-bottom:5px;
}
div.headerContainer05 .divletNavigation ul li.selected a.extDoubleLine,
div.headerContainer05 .divletNavigation ul li.firstAndSelected a.extDoubleLine,
div.headerContainer05 .divletNavigation ul li.lastAndSelected a.extDoubleLine
{
	padding:5px 20px 5px!important;
	line-height:1.1em;
}


/********************************************************/
/******************Primary listing***********************/
.divletPrimary
{
	float:right;
	padding-top:0px;
	padding-bottom:0px;
}
.divletPrimary ul li
{
	float:left;
	padding:3px 7px 0px 7px;
	z-index:0;
	font-size:87.5%;
	background:url("../images/masthead-white01/background/pipe4.gif") no-repeat left top;
}
.divletPrimary ul li.lastItem
{
	padding:3px 0px 0px 7px;
}
.headerContainer03 .divletPrimary ul li a,
.headerContainer03 .divletPrimary ul li a:visited
{
	color:#696969!important;
	text-decoration:underline!important;
}
.divletPrimary ul li.selected
{
	padding-left:5px;
	background:none;
}
.divletPrimary ul li.selected a,
.divletPrimary ul li.selected a:visited
{
	color:#191919!important;
	text-decoration:none!important;
}
.containerHeader .divletPrimary ul li a img
{
	padding:0 4px;
	vertical-align:middle;
}

/*MorePrimary dropdown listing*/
.divletMorePrimary
{
	float:left;
	position:relative;
	margin:-10px -7px 0px 0px;
}
.headerContainer03 .divletMorePrimary a,
.headerContainer03 .divletMorePrimary a:visited
{
	text-decoration:underline!important;
}
.divletMorePrimary a span
{
	display:block;
	padding:13px 23px 8px 7px;
	background:url("../images/masthead-white01/background/dropdownarrow-more.gif") no-repeat right top;
}
.divletMorePrimary a.dropDownLink
{
	color:#696969!important;
	background:url("../images/masthead-white01/background/pipeb.gif") left top no-repeat;
	margin-left:7px;
	padding-left:0px;
	font-size:87.50%!important;
	display:block;
}
.divletMorePrimary a.dropDownLink:hover
{
	text-decoration:underline!important;
}
.divletPrimary .dropDownOpen a.dropDownLink
{
	margin-left:1px;
}
.divletPrimary .divletMorePrimary .dropDownContent
{
	background:url("../images/masthead-white01/background/language-main-bottom.png") no-repeat bottom left;
	width:243px;
	margin-top:-6px;
	margin-right:-3px;
	padding:0 0px 6px 0px;
	float:left;
}
.divletMorePrimary .dropDownContent .wrapper
{
	background:url("../images/masthead-white01/background/language-main-top.png") no-repeat top left;
	float:left;
	display:inline;
	width:231px;
	padding:0 6px;
}
.divletMorePrimary .dropDownContent ul
{
	margin:6px 0 0 0;
	padding:0;
}
.divletMorePrimary .dropDownContent ul li
{
	clear:both;
	float:left;
	background:none;
	border-bottom:1px solid #E6E5E5;
	padding:0px;
	font-size:75%;
}
.divletMorePrimary .dropDownContent ul li a,
.divletMorePrimary .dropDownContent ul li a:visited
{
	display:block;
	padding:10px 10px 10px 21px;
	font-size:100%;
	float:left;
	width:200px;
	color:#cc1414!important;
	background:#fff url("../images/masthead-white01/background/bulletStyle02.gif") top left no-repeat;
	text-decoration:none!important;
}
.divletMorePrimary .dropDownContent ul li.selected a span
{
	background:none!important;
	padding:0;
}
.divletMorePrimary .dropDownContent ul li.selected
{
	background:none!important;
}
.divletMorePrimary .dropDownContent ul li.selected a,
.divletMorePrimary .dropDownContent ul li.selected a:visited
{
	color:#191919!important;
	background:url("../images/masthead-white01/background/language-selected.gif") no-repeat scroll right top;
}
.divletMorePrimary .dropDownContent ul li a:hover
{
	text-decoration:underline!important;
}

/*used for "more" links*/
.containerHeader .headerContainer03 .divletPrimary .divletMorePrimary a.dropDownLink:hover span
{
	background:url("../images/masthead-white01/background/dropdownarrow-more-hover.gif") no-repeat top right;
}
.containerHeader .headerContainer03 .divletPrimary .divletMorePrimary.dropDownOpen a.dropDownLink span,
.containerHeader .headerContainer03 .divletPrimary .divletMorePrimary.dropDownOpen a.dropDownLink:hover span
{
	background:url("../images/masthead-white01/background/more-link-right.png") no-repeat top right;
	padding-right:26px;
	padding-left:13px;
	margin-right:-3px!important;
}

/********************************************************/
/******************country listing***********************/
.pageBodyCountry
{
	width:960px;
	padding:0px;
	margin:0pt auto;
	overflow:hidden;
}

#country_select h2
{
	color:#191919;
	font-size:118.75%;
	line-height:21px;
	font-family:"Times New Roman", Times, serif;
	font-weight:normal;
}
#country_select h3
{
	color:#cc1414;
	font-size:75%;
	line-height:17px;
	padding:0px 0px 3px 0px;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
}
.pageBodyCountry #country_select .column
{
	float:left;
	width:190px;
}
#country_select ul
{
	font-family:Arial, Helvetica, sans-serif;
}
#country_select ul li a
{
	color:#cc1414;
	text-decoration:underline!important;
}

.skipContent {
	position:absolute;
	top:-10px;
	left:-10px;
}
.skipContent a {
	position:absolute;
    top:-1000px;
    left:-1000px;
	width:100px;
}
.skipContent a:link,
.skipContent a:visited {
	color: #fff!important;
}
.skipContent a:active,
.skipContent a:focus {
	position:absolute;
    top:20px;
    left:410px;
    color: #fff;
    Font-size: 75%;
	Color: #f00!important;
}



/********************************************************/
/********************************************************/
