.eng01 {
	color: #40859F;
	font-family: Verdana;
	font-size: 8pt;
	line-height: 11pt;
	text-decoration: none;
	font-weight: bold;
}
.eng02 {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 10pt;
	color: #40859F;
	text-decoration: none;
	font-weight: bold;
}
.eng03 {
	font-family: Verdana;
	font-size: 7pt;
	line-height: 10pt;
	color: #606060;
	text-decoration: none;
	font-weight: bold;
}
.eng03a {
	font-family: Verdana;
	font-size: 7pt;
	line-height: 10pt;
	color: #606060;
	text-decoration: none;
	font-weight: none;
}
.eng04 {
	font-family:  Verdana;
	font-size: 9pt;
	line-height: 10pt;
	color: #FF4C4F;

}
.eng05 {
	font-family: Verdana;
	font-size: 8pt;
	line-height: 10pt;
	color: #606060;
	text-decoration: none;
}
.eng06 {
	font-family: Verdana;
	font-size: 7pt;
	line-height: 10pt;
	color: #084565;
	text-decoration: none;
}
.eng07 {
	font-family: Verdana;
	font-size: 8pt;
	line-height: 10pt;
	color: #5A5A5A;
	text-decoration: none;
}
.eng08 {
	font-family: Verdana;
	font-size: 8pt;
	line-height: 10pt;
	color: #B2B4BE;
	text-decoration: none;
}
.eng09 {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 12pt;
	color: #154F6A;
	text-decoration: none;
	font-weight: bold;
}
.eng10 {
	font-family: Verdana;
	font-size: 8pt;
	line-height: 11pt;
	color: #45829A;
	text-decoration: none;
}
.eng11 {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 11pt;
	color: #272F55;
	text-decoration: none;
	font-weight: bold;
}
.eng12 {
	font-family: Verdana;
	font-size: 8pt;
	line-height: 10pt;
	color: #B7294F;
	text-decoration: none;
}
.eng13 {
	font-family: Verdana;
	font-size: 8pt;
	line-height: 10pt;
	color: #787878;
	text-decoration: none;
}
.eng14 {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 10pt;
	color: #629400;
	text-decoration: none;
	font-weight: bold;
}
.eng15 {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 10pt;
	color: #D10000;
	text-decoration: none;
	font-weight: bold;
}

