.widecol {width: 740px;}
div#messageBox .messageBox p {margin: 1em 0 !important;}
form div.error{background: none;}
.error span.label {color: #c00;}
.botspan {display:block; color: #757575;}
input.validate {padding: 0; border: none;}
#creditCardImage {float: right; margin-right: 141px;}
form.edit fieldset.multi p.group span.field label img {margin-top: 0;}
form.edit fieldset.multi p.group span.field label a img {margin-left: 5px; border: none;}
form.edit p.group span.field.learnMore {display: block; margin-top: -1em;}
.cont ul {list-style: none;}
.cont ul li {margin: 0;}
form.edit div.learnMore {display: block; margin: -1em 0 0 200px;}
form.edit a.learnMore {display: block;}
#xptFooterCopyright p {width: 100%; text-align: center; font-size: 0.9em;}
