.signin-bkgd { background: #eeeeee; }
.signin-brdr { background: #cccccc; }

div.signin-box
{
    color: #003399;
    font-size:70%;
    margin: 15px 8px 20px 8px;
}

.errorbrdr { background: #d4001a; }

span.errortext
{
    color: #333333;
}

span.error
{
    color: #d4001a;
}
/* PAGE LABEL */
.pagelabel div, .pagelabel h1, .pagelabel h2
{
   margin: 0px;
   padding: 0px;
   display: inline;
}
div.pagelabel
{
   font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
   margin: 0px 0px 0px 12px;
   width: 735px;
}
h1.pagelabel
{
   font-weight: bold;
   font-size:95%;
   color: #d4001a;
   margin: 0px;
   padding: 0px;
}
.blue-dot-nav3
{  
   font-size:65%; 
   color: #405ebe;
   vertical-align: middle;
}
.rulegrey3 { background: #999999; color: #999999; }
a.nav3-off { color : #405ebe; text-decoration: underline; }
a.nav3-off:visited { color : #651c7e; text-decoration: underline; }
a.nav3-off:hover { color : #0000ff; text-decoration: underline; }
a.nav3-on { color : #000000; font-weight: bold; text-decoration: none; }
.module1OutlineTableTempPass
{
  border-bottom: 1px solid #cccccc; 
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-right:1px solid #cccccc;
  margin-bottom: 0px; margin-top: 0px; 
  padding: 0px 0px 0px 5px;
  width: 100%;
  background: #E9E9EA;
  font-size:70%;
  letter-spacing : 0px;
}

.listTemp
{	
  list-style-type: disc;   
  margin-left: -25px;	
  margin-bottom: 0px;   
  margin-top: 0px;	
  line-height: 130%;
}

.textChgTemp
{
	font-size:70%;
 	letter-spacing : 0px;
}

.module4OutlineTable
{
    border-bottom: 1px solid #d4001a;
    border-left: 1px solid #d4001a;
    border-top: 1px solid #d4001a;
    border-right:1px solid #d4001a;
    
 }
 
 .listNew
{
	padding-left: 60px;
	list-style-type: none;
	line-height: 130%; 
}

.h2-ada1
{

	height:0;
	width:0;
	position:absolute;
	left:-10000px;
	font-size:0px;
}
 
.errorbrdr1
{
	background:white;
}
.list7d
{

	padding-left: 8px; 
    list-style-type: none;
} 
.list7b
{
    padding-left: 0px; 
    list-style-type: disc;
    
}

