.pageHeader { padding:25px 0px 25px 14px;font-family:Arial,sans-serif;font-size:25px;color:#5D5D5D;margin-right:50px; }
.hlpLnk { padding:25px 0px 0px 0px;float:right;font-size:12px; }
.hlpLnk a,.hlpLnk a:active,.hlpLnk a:visited { color:#0000CC;font-size:12px;text-decoration:none; }
.hlpLnk a:hover { text-decoration:underline; }
.titleHelpText { clear:both;padding:0px 0px 25px 0px;font-family:Arial;font-size:small;font-weight:bold;color:#333333; }
.titleInfoText { clear:both;padding:0px 0px 25px 0px;font-family:Arial;font-size:small;color:#333333; }
.greyrcp { border:1px solid #CCCCCC;text-align:left;_height:100%; }
.greyrcp .n .e,.greyrcp .n .w,.greyrcp .s .e,.greyrcp .s .w { display:block;font-size:0px;line-height:0%;height:3px;position:relative;margin:0; }
.greyrcp .n { background-color:#F8E89D; }
.greyrcp .s,.greyrcp .s .e,.greyrcp .s .w { height:20px; }
.greyrcp .n .e { background:url(https://securepics.ebaystatic.com/aw/pics/globalassets/imgPanelURGrey.gif) no-repeat top right;top:-1px;right:-1px; }
.greyrcp .n .w { background:url(https://securepics.ebaystatic.com/aw/pics/globalassets/imgPanelULGrey.gif) no-repeat top left;width:6px;left:-2px; }
.greyrcp .s .e { background:url(https://securepics.ebaystatic.com/aw/pics/globalassets/imgPanelLRGrey.gif) no-repeat bottom right;bottom:-1px;right:-1px; }
.greyrcp .s .w { background:url(https://securepics.ebaystatic.com/aw/pics/globalassets/imgPanelLLGrey.gif) no-repeat bottom left;width:6px;left:-2px; }
.greyrcp .title { font-family:Arial,sans-serif;font-size:17px;padding:0px 6px 3px 15px;color:#5D5D5D;background-color:#F8E89D;position:relative; }
.greyrcp .subTitle { font-family:Arial,sans-serif;font-size:17px;padding:3px 6px 3px 15px;color:#5D5D5D;background-color:#F8E89D;position:relative; }
.greyrcp .sectionBody { padding:16px 25px 10px 17px; }
.greyBoxBottomPadding { padding:0px 0px 15px 0px; }
.greyBoxTopPadding { padding:15px 0px 0px 0px; }
.greyBoxHeading { font-family:Arial;font-size:small;font-weight:bold;color:#333333;text-align:justify;padding:0px 0px 15px 0px; }
.greyBoxContent { font-family:Arial;font-size:small;_font-size:x-small;color:#333333;text-align:left;padding:0px 0px 0px 0px; }
.greyBoxRCP { clear:both; }
.greyBoxRCP .s .e { background:url(https://securepics.ebaystatic.com/aw/pics/globalAssets/imgRndCnrBlank.gif) no-repeat 100% -10px;position:relative; }
.greyBoxRCP .s .w { font-size:0px;background:url(https://securepics.ebaystatic.com/aw/pics/globalAssets/imgRndCnrBlank.gif) no-repeat 0px -15px;position:relative;height:5px; }
.greyBoxRCP .greyInnerLayer { border-right:#ececec 1px solid;border-left:#ececec 1px solid;position:relative;background-color:#ececec;padding:5px 10px 10px 10px;font-size:small;font-family:Arial,Helvetica,sans-serif; }
.greyBoxRCP .n,.greyBoxRCP .s { position:relative;background-color:#ececec; }
.greyBoxRCP .n .e { background:url(https://securepics.ebaystatic.com/aw/pics/globalAssets/imgRndCnrBlank.gif) no-repeat 100% -5px;position:relative; }
.greyBoxRCP .n .w { font-size:0px;background:url(https://securepics.ebaystatic.com/aw/pics/globalAssets/imgRndCnrBlank.gif) no-repeat 0px 0px;position:relative;height:5px; }
.greyBoxRCP .greyInnerLayerChkEmail { clear:both;background-color:#ECECEC;padding:0px 15px 0px 15px; }
.greyBoxRCP .greyInnerLayer .greyBoxHeading,.greyBoxRCP .greyInnerLayer .contenttable .leftcol .greyBoxHeading,.greyBoxRCP .greyInnerLayer .contenttable .rightcol .greyBoxHeading { font-family:Arial;font-size:small;_font-size:x-small;font-weight:bold;color:#333333;text-align:left;padding:0px 0px 15px 0px; }
.greyBoxRCP .greyInnerLayer .greyBoxContent,.greyBoxRCP .greyInnerLayer .contenttable .leftcol .greyBoxContent,.greyBoxRCP .greyInnerLayer .contenttable .rightcol .greyBoxContent { font-family:Arial;font-size:small;_font-size:x-small;color:#333333;text-align:left;padding:0px 0px 0px 0px; }
.greyBoxRCP .greyInnerLayer .greyBoxContent ul,.greyBoxRCP .greyInnerLayer .contenttable .leftcol .greyBoxContent ul,.greyBoxRCP .greyInnerLayer .contenttable .rightcol .greyBoxContent ul { font-family:Arial;font-size:small;_font-size:x-small;color:#333333;padding:0px 0px 0px 0px;margin-left:15px;margin-top:10px;margin-bottom:0px; }
.greyBoxRCP .greyInnerLayer .greyBoxContent .fieldTitle,.greyBoxRCP .greyInnerLayer .contenttable .leftcol .greyBoxContent .fieldTitle,.greyBoxRCP .greyInnerLayer .contenttable .rightcol .greyBoxContent .fieldTitle { font-family:Arial;font-size:small;_font-size:x-small;color:#333333;text-align:left;padding:0px 0px 0px 0px; }
.greyBoxRCP .greyInnerLayer .greyBoxContent .help,.greyBoxRCP .greyInnerLayer .contenttable .leftcol .greyBoxContent .help,.greyBoxRCP .greyInnerLayer .contenttable .rightcol .greyBoxContent .help { font-family:Verdana;font-size:x-small;_font-size:xx-small;color:#666666;padding:0px 0px 0px 0px; }
.greyBoxRCP .greyInnerLayer .greyBoxContent a:link { text-decoration:none;color:#0000CC; }
.greyBoxRCP .greyInnerLayer .greyBoxContent a:visited { text-decoration:none;color:#0000CC; }
.greyBoxRCP .greyInnerLayer .greyBoxContent a:hover { text-decoration:underline; }
.greyBoxRCP .greyInnerLayer .greyBoxContent a:active { text-decoration:none;color:#0000CC; }
.greyBoxRCP .greyInnerLayer .greyBoxTitle,.greyBoxRCP .greyInnerLayer .contenttable .leftcol .greyBoxTitle,.greyBoxRCP .greyInnerLayer .contenttable .rightcol .greyBoxTitle { font-family:Arial;font-weight:bold;font-size:medium;_font-size:small;color:#FF8000; }
.greyBoxRCP .greyInnerLayer .greyBoxContent .formClass,.greyBoxRCP .greyInnerLayer .contenttable .leftcol .greyBoxContent .formClass,.greyBoxRCP .greyInnerLayer .contenttable .rightcol .greyBoxContent .formClass { margin-top:0px;margin-bottom:0px; }
.greyBoxRCP .greyInnerLayer .greyBoxContent .formClass td,.greyBoxRCP .greyInnerLayer .contenttable .leftcol .greyBoxContent .formClass td,.greyBoxRCP .greyInnerLayer .contenttable .rightcol .greyBoxContent .formClass td { padding-left:0px; }
.greyBoxRCP .greyInnerLayer .greyBoxContent .formClass .formError,.greyBoxRCP .greyInnerLayer .contenttable .leftcol .greyBoxContent .formClass .formError,.greyBoxRCP .greyInnerLayer .contenttable .rightcol .greyBoxContent .formClass .formError { font-family:Verdana;font-size:x-small;_font-size:xx-small;color:#FF0000;padding:0px 0px 0px 0px; }
.greyBoxRCP .greyInnerLayer .greyBoxContent .formClass .errorIcon,.greyBoxRCP .greyInnerLayer .contenttable .leftcol .greyBoxContent .formClass .errorIcon,.greyBoxRCP .greyInnerLayer .contenttable .rightcol .greyBoxContent .formClass .errorIcon { margin-bottom:-3px;_margin-bottom:-1px;margin-right:1px; }
.greyBoxRCP .greyInnerLayer .greyBoxContent .formClass button:hover,.greyBoxRCP .greyInnerLayer .contenttable .leftcol .greyBoxContent .formClass button:hover,.greyBoxRCP .greyInnerLayer .contenttable .rightcol .greyBoxContent .formClass button:hover { cursor:hand; }
.greyBoxRCP .greyInnerLayer .greyBoxContent .formClass .Button .btn,.greyBoxRCP .greyInnerLayer .contenttable .leftcol .greyBoxContent .formClass .Button .btn,.greyBoxRCP .greyInnerLayer .contenttable .rightcol .greyBoxContent .formClass .Button .btn { background:url(https://securepics.ebaystatic.com/aw/pics/viewitem/imgVIPrmryBtnLt.gif) no-repeat top left;color:#fff;font-family:Arial;font-weight:bold;cursor:hand;cursor:pointer;font-size:small;_font-size:x-small;white-space:nowrap; }
.greyBoxRCP .greyInnerLayer .greyBoxContent .formClass .Button .btn .btn,.greyBoxRCP .greyInnerLayer .contenttable .leftcol .greyBoxContent .formClass .Button .btn .btn,.greyBoxRCP .greyInnerLayer .contenttable .rightcol .greyBoxContent .formClass .Button .btn .btn { background:url(https://securepics.ebaystatic.com/aw/pics/buttons/btnViPrmry.gif) no-repeat right;background-position:100% 0; }
.reiLeftField { width:678px;float:left; }
.reiRightField { float:right; }
.redrcp { border:1px solid #FF6033;_height:100%;clear:both; }
.redrcp .n .e,.redrcp .n .w,.redrcp .s .e,.redrcp .s .w { font-size:0px;line-height:0%;height:6px;position:relative; }
.redrcp .n { background-color:#FFFFFF; }
.redrcp .s,.redrcp .s .e,.redrcp .s .w { height:6px; }
.redrcp .n .e { background:url(https://securepics.ebaystatic.com/aw/pics/globalassets/imgPanelURRed.gif) no-repeat top right;top:-1px;right:-1px; }
.redrcp .n .w { background:url(https://securepics.ebaystatic.com/aw/pics/globalassets/imgPanelULRed.gif) no-repeat top left;width:6px;left:-2px; }
.redrcp .s .e { background:url(https://securepics.ebaystatic.com/aw/pics/globalassets/imgPanelLRRed.gif) no-repeat bottom right;bottom:-1px;right:-1px; }
.redrcp .s .w { background:url(https://securepics.ebaystatic.com/aw/pics/globalassets/imgPanelLLRed.gif) no-repeat bottom left;width:6px;left:-2px; }
.redrcp .error { font-family:Arial,sans-serif;font-size:12px;font-weight:bold;padding:0px 0px 0px 24px;background-color:#FFFFFF;position:relative;color:#FF0000;background:url(https://securepics.ebaystatic.com/aw/pics/icon/iconError_16x16.gif) no-repeat top left;top:0px;left:8px; }
.redrcp .error td { color:#FF0000; }
.successGreyRCP { border:1px solid #CCCCCC;_height:100%;clear:both; }
.successGreyRCP .n .e,.successGreyRCP .n .w,.successGreyRCP .s .e,.successGreyRCP .s .w { font-size:0px;line-height:0%;height:6px;position:relative; }
.successGreyRCP .n { background-color:#FFFFFF; }
.successGreyRCP .s,.successGreyRCP .s .e,.successGreyRCP .s .w { height:6px; }
.successGreyRCP .n .e { background:url(https://securepics.ebaystatic.com/aw/pics/globalassets/imgPanelURGrey.gif) no-repeat top right;top:-1px;right:-1px; }
.successGreyRCP .n .w { background:url(https://securepics.ebaystatic.com/aw/pics/globalassets/imgPanelULGrey.gif) no-repeat top left;width:6px;left:-2px; }
.successGreyRCP .s .e { background:url(https://securepics.ebaystatic.com/aw/pics/globalassets/imgPanelLRGrey.gif) no-repeat bottom right;bottom:-1px;right:-1px; }
.successGreyRCP .s .w { background:url(https://securepics.ebaystatic.com/aw/pics/globalassets/imgPanelLLGrey.gif) no-repeat bottom left;width:6px;left:-2px; }
.successGreyRCP .error { font-family:Arial,sans-serif;font-size:12px;font-weight:bold;padding:0px 0px 0px 24px;background-color:#FFFFFF;position:relative;color:#333333;background:url(https://securepics.ebaystatic.com/aw/pics/icon/iconSuccess_16x16.gif) no-repeat top left;top:0px;left:8px; }
.successGreyRCP .error td { color:#333333; }
.redrcp .err { font-family:Arial,sans-serif;font-size:12px;font-weight:bold;padding:0px 0px 0px 24px;background-color:#FFFFFF;position:relative;color:#FF0000;background:url(https://securepics.ebaystatic.com/aw/pics/icon/iconError_16x16.gif) no-repeat top left;top:0px;left:8px; }
.errorMsgYukon { padding:0px 100px 25px 100px; }
.chkEmailHeading { font-family:Arial;font-weight:bold;font-size:large;color:#FF8000;margin-bottom:10px; }
.chkEmailContent { font-family:Arial;font-size:small;color:#333333; }
.chkEmailList { margin-top:0px;margin-bottom:0px; }
.fypwd_table { margin-left:-2px; }
a:link { text-decoration:none;color:#0000CC; }
a:visited { text-decoration:none;color:#0000CC; }
a:hover { text-decoration:underline; }
a:active { text-decoration:none;color:#0000CC; }
button { padding:0;margin:0;border:0;background:none;text-indent:inherit;vertical-align:middle; }
* html button { width:1%;overflow:visible;margin:0px 15px 0px 0px; }
button .btn { background:url(https://securepics.ebaystatic.com/aw/pics/buttons/btnViPrmry.gif);color:#fff;font-family:Arial;font-weight:bold;white-space:nowrap;cursor:pointer;display:block;height:24px;line-height:190%;padding:0px 0px 0px 6px;vertical-align:middle; }
button .btn .btn { padding:0px 14px 0px 8px; }
.btnMain .btn { background:url(https://securepics.ebaystatic.com/aw/pics/viewitem/imgVIPrmryBtnLt.gif) no-repeat top left; }
.btnMain .btn .btn { background:url(https://securepics.ebaystatic.com/aw/pics/buttons/btnViPrmry.gif) no-repeat right;background-position:100% 0; }
.YukonErrorFont { color:#333; }
.YukonErrorIcon { background:url(https://securepics.ebaystatic.com/aw/pics/icons/iconFormError_16x16.gif) no-repeat top left; }
.YukonFieldErrGif { margin-left:-15px;margin-top:3px;position:absolute; }
.YukFldErr { font-family:Verdana;font-weight:regular;font-size:x-small;_font-size:xx-small;color:#FF0000; }
.YukHlpImg { margin-top:-3px;position:relative; }
.YukTitleText { font-family:Arial;font-weight:bold;font-size:medium;color:#FF8000; }
.contenttable .sepline { background:#ececec url(https://securepics.ebaystatic.com/aw/pics/globalAssets/whiteline.gif) repeat-y;background-position:center; }
.contenttable .leftcol { padding-right:15px; }
.contenttable .rightcol { padding:0px 30px 0px 15px; }
.YukSMFormGif { margin-left:-10px; }
.pageHeaderSeller { padding:25px 0px 25px 0px;font-family:Arial,sans-serif;font-size:20px;color:#5D5D5D;margin-right:50px;margin-left:-15px; }
.TextSpace { line-height:150%; }
.YukBody { font-family:Arial;color:#333333;font-size:small;_font-size:x-small; }
.YukAgree { float:left;width:100%;margin-top:-7px; }
.ChkEmailHeadingSpace { margin-top:-29px;_margin-top:-35px;margin-bottom:-22px;_margin-bottom:-21px; }
.yukFont { color:#333333; }
.titleHelpTextBuss { clear:both;padding:0px 0px 25px 0px;font-family:Arial;font-size:small;_font-size:x-small;font-weight:bold;color:#333333; }
.titleInfoTextBuss { clear:both;padding:0px 0px 25px 0px;font-family:Arial;font-size:small;_font-size:x-small;color:#333333; }
.greyBoxHeadingBuss { font-family:Arial;font-size:x-small;font-weight:bold;color:#333333;text-align:justify;padding:0px 0px 15px 0px; }
.greyBoxContentBuss { font-family:Arial;font-size:xx-small;color:#333333;text-align:left;padding:0px 0px 0px 0px; }
.greySubTitle { font-family:Arial;font-size:medium;color:#FF8C00;font-weight:bold;padding:0px 0px 0px 0px; }
.ChkEmailFooterSpace { margin-top:-16px;_margin-top:-22px; }
.greyBoxContent ul { font-family:Arial;font-size:small;color:#333333;padding:0px 0px 0px 0px;margin-left:15px;margin-top:10px;margin-bottom:-3px; }
.stepIndicat { font-family:Arial;font-size:small;_font-size:x-small;color:#333333;text-align:center;padding:0px 0px 0px 0px; }
.ButtonNormal .btn { background:url(https://securepics.ebaystatic.com/aw/pics/viewitem/imgVIPrmryBtnLt.gif) no-repeat top left;color:#fff;font-family:Arial;font-weight:bold;cursor:hand;cursor:pointer;font-size:small;white-space:nowrap; }
.ButtonNormal .btn .btn { background:url(https://securepics.ebaystatic.com/aw/pics/buttons/btnViPrmry.gif) no-repeat right;background-position:100% 0; }
.YukHelpTxt { font-family:verdana;font-size:x-small;_font-size:xx-small;color:#666666; }
.YukHelpLink { font-family:verdana;font-size:x-small;_font-size:xx-small;color:#0000cc; }
.greyBoxContentPrivacy { font-family:Arial;font-size:x-small;color:#333333;text-align:left;padding:0px 0px 0px 0px; }
.ykErrPad { padding-left:43px;_padding-left:30px; }
.ykErrLi { color:#000000; }
.ykErrAnk { color:#CC1111; }
.ButtonBuss .btn { background:url(https://securepics.ebaystatic.com/aw/pics/viewitem/imgVIPrmryBtnLt.gif) no-repeat top left;color:#fff;font-family:Arial;font-weight:bold;cursor:hand;cursor:pointer;font-size:small;_font-size:x-small;white-space:nowrap; }
.ButtonBuss .btn .btn { background:url(https://securepics.ebaystatic.com/aw/pics/buttons/btnViPrmry.gif) no-repeat right;background-position:100% 0; }
.quickwinError { font-family:verdana;font-size:x-small;color:#FF0000; }
.quickwinErrorBus { font-family:verdana;font-size:x-small;_font-size:xx-small;color:#FF0000; }
.normalText { font-family:Arial;font-size:small;color:#5D5D5D;background-color:#F8E89D;position:relative; }
.normalTextBus { font-family:Arial;font-size:x-small;color:#5D5D5D;background-color:#F8E89D;position:relative; }
.normalTxtBus { font-family:Arial;font-size:small;_font-size:x-small;color:#5D5D5D;background-color:#F8E89D;position:relative; }
.greyrcp .Choosetitle { font-family:Arial,sans-serif;font-size:17px;padding:0px 6px 3px 14px;color:#5D5D5D;background-color:#F8E89D;position:relative; }
.YukHelpTxtBus { font-family:verdana;font-size:xx-small;color:#666666; }
.areaTitleBox { margin-bottom:10px; }
.areaTitle { float:left;font-size:x-large;_font-size:large;color:#333; }
.areaCtl { float:right;margin-top:10px;color:#999; }
.areaCtl img { margin-left:3px; }
.clr { clear:both; }
.help { font-family:Verdana;font-size:x-small;_font-size:xx-small;color:#666666;padding:0px 0px 0px 0px; }
.helptextnotice { font-family:Arial;font-size:small;color:#666666;padding:0px 0px 0px 8px; }
#EnterPin_error { font-family:verdana;font-size:x-small;_font-size:xx-small; }
#phone_error { font-family:verdana;font-size:x-small;_font-size:xx-small; }
.secCnt { background-color:#ececec; }
.ttlPanel-n { position:relative;background-color:#ececec;border:1px solid #ececec;border-bottom:0px; }
.ttlPanel-n .ttlPanel-e { position:relative;top:-1px;right:-1px;background:url(https://securepics.ebaystatic.com/aw/pics/globalassets/imgGreybackTopRt.gif) no-repeat top right; }
.ttlPanel-n .ttlPanel-w { position:relative;left:-2px;height:6px;font-size:0px;background:url(https://securepics.ebaystatic.com/aw/pics/globalassets/imgGreybackTopLf.gif) no-repeat top left; }
.ttlPanel-s { position:relative;background-color:#ececec;border:1px solid #ececec;border-top:0px;margin-bottom:30px; }
.ttlPanel-s .ttlPanel-e { position:relative;bottom:-1px;right:-1px;background:url(https://securepics.ebaystatic.com/aw/pics/globalassets/imgGreybackBtmRt.gif) no-repeat bottom right; }
.ttlPanel-s .ttlPanel-w { position:relative;left:-2px;height:6px;font-size:0px;background:url(https://securepics.ebaystatic.com/aw/pics/globalassets/imgGreybackBtmLf.gif) no-repeat bottom left; }
.deadendlinks { margin-top:15px;margin-left:10px; }
.idtLeft12px { padding:0 0 0 0;font-family:Arial;font-size:small;_font-size:x-small;color:#333333; }
.idtLeft20px { padding-left:20px;font-family:Arial;font-size:small;_font-size:x-small;color:#333333; }
.justFont { font-family:Arial;font-size:small;_font-size:x-small;color:#333333; }
.titleHelpTextAlreadyReg { clear:both;padding:0px 0px 25px 0px;font-family:Arial;font-size:small;_font-size:x-small;font-weight:bold;color:#5D5D5D; }
.BizBold { font-weight:bold; }
.BizFontColor { color:#0000cc; }
.BizFontColor a,.BizFontColor a:active,.BizFontColor a:visited { color:#0000CC;text-decoration:none; }
.BizFontColor a:hover { text-decoration:underline; }
.helptextlabel { font-family:Arial;font-size:small;_font-size:x-small;color:#666666;padding:0px 0px 0px 10px; }
.helptextbutton { font-family:Arial;font-size:small;_font-size:x-small;color:#666666; }
#footer_container { border:1px solid #ccc;text-align:left;background-color:#F4F4F4;margin-bottom:30px; }
#footer_container .whiter-n .whiter-e,#footer_container .whiter-n .whiter-w,#footer_container .whiter-s .whiter-e,#footer_container .whiter-s .whiter-w { display:block;font-size:0px;line-height:0%;height:10px;position:relative;margin:0; }
#footer_container .whiter-n .whiter-e { background:url(https://securepics.ebaystatic.com/aw/pics/half/newsite/imgGreyRgtBotCur_6x6.gif) no-repeat top right;top:-1px;right:-1px; }
#footer_container .whiter-n .whiter-w { background:url(https://securepics.ebaystatic.com/aw/pics/half/newsite/imgGreyLftBotCur_6x6.gif) no-repeat top left;width:10px;left:-2px; }
#footer_container .whiter-s .whiter-e { bottom:-1px;right:-1px; }
#footer_container .whiter-s .whiter-w { width:10px;left:-2px; }
#footer_container .whiter-mid { padding:0px; }
#footer_container .whiter-mide { padding:10px; }
#footer_container .whiter-head { font-family:Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold;padding:0 6px 6px 8px;background-color:#fff;position:relative; }
#footer_container .whiter-foot { padding:5px 10px; }
#footer_container .whiter-s_nf { position:relative;background-color:#F4F4F4; }
#footer_container .whiter-s_nf .whiter-e { position:relative;bottom:-1px;right:-1px;background:url(https://securepics.ebaystatic.com/aw/pics/globalassets/imgpanellrgrey.gif) no-repeat bottom right; }
#footer_container .whiter-s_nf .whiter-w { position:relative;left:-2px;height:6px;font-size:0px;background:url(https://securepics.ebaystatic.com/aw/pics/globalassets/imgpanelllgrey.gif) no-repeat bottom left; }
#footer_container .whiter-mide2 { padding:15px 0px 5px 20px; }
#footer_container .whiter-heade { font-size:medium; }
#footer_container td { vertical-align:top;font-family:verdana;font-size:11px;color:#666666; }
#footer_container td a:link { color:#005F9F;text-decoration:none; }
#footer_container td a:active { color:#005F9F;text-decoration:none; }
#footer_container td a:visited { color:#005F9F;text-decoration:none; }
#footer_container td a:hover { color:#005F9F;text-decoration:underline; }
#footer_container td a.moreforyoulink:link,#footer_container td a.moreforyoulink:active,#footer_container td a.moreforyoulink:visited,#footer_container td a.moreforyoulink:hover { color:#666666;text-decoration:none; }
#footer_container #moreforyoupanel .moreforyouitems { width:25%;border-right:1px dotted #CCC;padding:3px 16px 3px 6px; }
#footer_container #moreforyoupanel .moreforyouicons { padding:5px 0px 3px 18px; }
#footer_links { text-align:center;font-family:verdana;color:#CCC;font-size:12px;font-weight:bold; }
#footer_links a:link,#footer_links a:active,#footer_links a:visited { color:#CC6600;text-decoration:none; }
#footer_links a:hover { text-decoration:underline; }
#footer_links .copyright { font-size:10px;color:#666666;font-weight:normal; }
.suggestionLayer .ds .de { background:url(https://securepics.ebaystatic.com/aw/pics/globalAssets/imgRndCnrBlank.gif) no-repeat 100% -10px;position:relative; }
.suggestionLayer .ds .dw { font-size:0px;background:url(https://securepics.ebaystatic.com/aw/pics/globalAssets/imgRndCnrBlank.gif) no-repeat 0px -15px;position:relative;height:5px; }
.suggestionLayer .suggestionInnerLayer { border-right:#ececec 1px solid;border-left:#ececec 1px solid;position:relative;background-color:#ececec;padding:5px 10px 5px 10px;font-size:small;font-family:Arial,Helvetica,sans-serif; }
.suggestionLayer .dn,.suggestionLayer .ds { position:relative;background-color:#ececec; }
.suggestionLayer .dn .de { background:url(https://securepics.ebaystatic.com/aw/pics/globalAssets/imgRndCnrBlank.gif) no-repeat 100% -5px;position:relative; }
.suggestionLayer .dn .dw { font-size:0px;background:url(https://securepics.ebaystatic.com/aw/pics/globalAssets/imgRndCnrBlank.gif) no-repeat 0px 0px;position:relative;height:5px; }
#UserIDPreview { width:390px;top:0px;left:0px;font-family:Arial;font-size:small;_font-size:x-small;position:absolute;z-index:5000; }
#QuestionsTable { font-family:Arial;font-size:small;_font-size:x-small; }
#tradeDiv div { font-size:x-small; }
.cancelLnk { font-family:Arial;font-size:small;_font-size:x-small; }
#lyrGrayout_sec { background-image:url(https://securepics.ebaystatic.com/aw/pics/globalAssets/imgOverlay2_1x1.png);_background-image:url(https://securepics.ebaystatic.com/aw/pics/globalAssets/imgCCCCCCpattern1.gif);left:0px;top:0px;position:absolute;visibility:hidden;z-index:1;width:100%; }
.msgSection { margin-bottom:0px; }
.buttons { margin:0px;background-color:#FFFFFF;padding:5px 0px 10px 12px;vertical-align:middle; }
.bodyContent { background-color:#EFFBFF;padding:15px;margin:10px 10px 0px 0px; }
.classicOverlay .comments,.classicOverlay .details { padding-bottom:15px;overflow:hidden;word-wrap:break-word;width:513px;_width:523px; }
.classicOverlay .buyerInfo { width:513px;_width:523px;overflow:hidden;word-wrap:break-word; }
.classicOverlay .grayText { color:#999999;margin-top:15px;font-family:Arial;font-size:13; }
.classicOverlay .grayBrd { width:100%;border-bottom:1px solid #bbbbbb;padding-bottom:10px;padding-top:20px; }
.classicOverlay { background:inherit;position:absolute;top:-1600px;left:-1600px;width:400px;display:block;z-index:5000; }
.basOlp-title { font-size:medium;font-weight:bold;_font-weight:bold;color:#333;font-family:Arial;padding:5px 5px 0px 15px; }
.basOlp-cbutton { float:right;padding-top:0px;padding-right:0px;margin-right:9px;margin-top:0px;background:transparent url(https://securepics.ebaystatic.com/aw/pics/buttons/btnClose_16x16.gif) no-repeat scroll bottom left;cursor:pointer;display:inline;height:16px;width:16px; }
.classicOverlay .basOlp-ctentbox { width:100%;position:relative;z-index:10; }
.classicOverlay .basOlp-ctentbox .basOlp-ctent { border:1px solid #666;border-width:0px 1px;background:#fff; }
.classicOverlay .basOlp-ctentbox .basOlp-ctent .basOlp-ctentholder { padding:10px 15px 10px 15px;font-family:Arial;font-size:small; }
.classicOverlay .basOlp-sdowbox { width:100%;position:absolute;top:5px;left:5px;z-index:8; }
.classicOverlay .basOlp-sdowbox .basOlp-ctent { background:#000; }
.classicOverlay .basOlp-ctentbox .basOlp-n { border-top:1px solid #666;margin:0px 5px;background:#fff;height:4px; }
.classicOverlay .basOlp-ctentbox .basOlp-s { border-bottom:1px solid #666;margin:0px 5px;background:#fff;height:4px;clear:both; }
.classicOverlay .basOlp-sdowbox .basOlp-n { margin:0px 5px;background:#000;height:5px; }
.classicOverlay .basOlp-sdowbox .basOlp-s { margin:0px 5px;background:#000;height:5px; }
.basOlp-cn { height:5px;display:block;font-size:0px;line-height:0%;position:relative;background:transparent url(https://securepics.ebaystatic.com/aw/pics/globalAssets/imgOverlayCorners.gif) no-repeat; }
.basOlp-scn { height:5px;display:block;font-size:0px;line-height:0%;position:relative;background:transparent url(https://securepics.ebaystatic.com/aw/pics/globalAssets/imgOverlayShade.gif) no-repeat; }
.classicOverlay .basOlp-n .basOlp-cn .basOlp-cn { background-position:0px 0px;width:5px;margin-left:-5px;margin-top:-1px;padding-top:1px;height:4px; }
.classicOverlay .basOlp-n .basOlp-scn .basOlp-scn { background-position:0px 0px;width:5px;margin-left:-5px; }
.classicOverlay .basOlp-n .basOlp-cn { background-position:100% -20px;margin-right:-5px;margin-top:-1px;padding-top:1px;height:4px; }
.classicOverlay .basOlp-n .basOlp-scn { background-position:100% -20px;margin-right:-5px; }
.classicOverlay .basOlp-s .basOlp-cn { background-position:100% -30px;margin-right:-5px;margin-bottom:-1px;padding-bottom:1px;height:4px; }
.classicOverlay .basOlp-s .basOlp-scn { background-position:100% -30px;margin-right:-5px; }
.classicOverlay .basOlp-s .basOlp-cn .basOlp-cn { background-position:0px -10px;width:5px;margin-left:-5px;margin-right:-5px;margin-bottom:-1px;padding-bottom:1px;height:4px; }
.classicOverlay .basOlp-s .basOlp-scn .basOlp-scn { background-position:0px -10px;width:5px;margin-left:-5px; }
.classicOverlay form { margin:0px; }
.changeDiv { font-family:verdana;font-size:10px;text-color:blue; }
.Suggestionstext { color:#FF8610;font-family:Arial;font-size:12px;margin-bottom:5px; }
.InnerPlusDiv { padding-top:10px;font-family:verdana;font-size:10px; }
.quickwin { font-family:verdana;font-size:x-small;color:#000000; }
.quickwinbiz { font-family:verdana;font-size:xx-small;color:#000000; }
.closebutton { position:absolute;right:5px;top:5px; }
.closebuttonImage { background:transparent;border:0px; }
.overlayTable { border:solid 1px;border-color:#cccccc;width:100%;table-layout:fixed; }
.overlayTableLeft { padding:15px 15px 15px 15px; }
.overlayTableRight { padding-left:15px;padding-top:10px;padding-bottom:10px; }
.Link:link { color:blue; }
.Link:visited { color:blue; }
.Link:active { color:blue; }
.Link:hover { color:blue; }
.pipecolor { color:#333333; }
.cursor { cursor:pointer; }
.passOlp-oly { background:inherit;position:absolute;width:275px;display:block;z-index:5000; }
.passOlp-oly .basOlp-ctentbox { width:100%;position:relative;z-index:10; }
.passOlp-oly .basOlp-ctentbox .basOlp-ctent { border:1px solid #666;border-width:0px 1px;background:#fff; }
.passOlp-oly .basOlp-ctentbox .basOlp-ctent .basOlp-ctentholder { padding:10px 14px; }
.passOlp-oly .basOlp-sdowbox { width:100%;position:absolute;top:5px;left:5px;z-index:8; }
.passOlp-oly .basOlp-sdowbox .basOlp-ctent { background:#000; }
.passOlp-oly .basOlp-ctentbox .basOlp-n { border-top:1px solid #666;margin:0px 5px;background:#fff;height:4px; }
.passOlp-oly .basOlp-ctentbox .basOlp-s { border-bottom:1px solid #666;margin:0px 5px;background:#fff;height:4px;clear:both; }
.passOlp-oly .basOlp-sdowbox .basOlp-n { margin:0px 5px;background:#000;height:5px; }
.passOlp-oly .basOlp-sdowbox .basOlp-s { margin:0px 5px;background:#000;height:5px; }
.basOlp-cn { height:5px;display:block;font-size:0px;line-height:0%;position:relative;background:transparent url(https://securepics.ebaystatic.com/aw/pics/globalAssets/imgOverlayCorners.gif) no-repeat; }
.basOlp-scn { height:5px;display:block;font-size:0px;line-height:0%;position:relative;background:transparent url(https://securepics.ebaystatic.com/aw/pics/globalAssets/imgOverlayShade.gif) no-repeat; }
.passOlp-oly .basOlp-n .basOlp-cn .basOlp-cn { background-position:0px 0px;width:5px;margin-left:-5px;margin-top:-1px;padding-top:1px;height:4px; }
.passOlp-oly .basOlp-n .basOlp-scn .basOlp-scn { background-position:0px 0px;width:5px;margin-left:-5px; }
.passOlp-oly .basOlp-n .basOlp-cn { background-position:100% -20px;margin-right:-5px;margin-top:-1px;padding-top:1px;height:4px; }
.passOlp-oly .basOlp-n .basOlp-scn { background-position:100% -20px;margin-right:-5px; }
.passOlp-oly .basOlp-s .basOlp-cn { background-position:100% -30px;margin-right:-5px;margin-bottom:-1px;padding-bottom:1px;height:4px; }
.passOlp-oly .basOlp-s .basOlp-scn { background-position:100% -30px;margin-right:-5px; }
.passOlp-oly .basOlp-s .basOlp-cn .basOlp-cn { background-position:0px -10px;width:5px;margin-left:-5px;margin-bottom:-1px;padding-bottom:1px;height:4px; }
.passOlp-oly .basOlp-s .basOlp-scn .basOlp-scn { background-position:0px -10px;width:5px;margin-left:-5px; }
.basOlp-aTL { background:transparent url(https://securepics.ebaystatic.com/aw/pics/globalAssets/imgOverlayPoints.gif) no-repeat;width:22px;height:25px;position:absolute; }
.basOlp-aTL { top:12px;left:-21px;background-position:0px 0px; }
.greyOut { COLOR:#666; }
.ordinary { COLOR:#111; }
.qwins { width:265px; }
.qwins .n { border:solid 1px #CECECE;border-bottom:0;position:relative; }
.qwins .n .e { background:url(https://securepics.ebaystatic.com/aw/pics/buy/trust/imgRTMGuarantee_PanelUR.gif) no-repeat top right;position:relative;top:-1px;right:-1px; }
.qwins .n .w { background:url(https://securepics.ebaystatic.com/aw/pics/buy/trust/imgRTMGuarantee_PanelUL.gif) no-repeat top left;font-size:0;position:relative;left:-2px;height:6px; }
.qwins .s { background-position:0% 100%;background-repeat:repeat-x;border-bottom:1px solid #CECECE;position:relative; }
.qwins .s .e { background:url(https://securepics.ebaystatic.com/aw/pics/buy/trust/imgRTMGuarantee_PanelLR.gif) no-repeat bottom right;position:relative;bottom:-1px;right:0px; }
.qwins .s .w { background:url(https://securepics.ebaystatic.com/aw/pics/buy/trust/imgRTMGuarantee_PanelLL.gif) no-repeat bottom left;font-size:0;position:relative;height:6px;left:0px; }
* html .qwins .s .w { left:2px; }
.qwins .b { background-position:0% 0%;border-left:1px solid #CECECE;border-right:1px solid #CECECE; }
.qwins .b,.qwins .s { background-image:url(https://securepics.ebaystatic.com/aw/pics/buy/trust/imgRTMGuarantee_PanelBg.jpg);position:relative; }
.qwins .txt { padding:5px 0px 7px 0px; }
.qwins .pd { padding:0px 0px 6px 10px; }
.qwins .mTop { margin-top:6px; }
.help-pl { margin-left:5px; }
.accessAnch { text-decoration:underline; }
.regPgHeading { display:inline;font-size:25px;font-weight:normal; }
.headerAccess { display:inline; }
.hiddenAccess { display:none; }
.hideLabel { display:block;left:-9999px;position:absolute; }
.ver-pghd { display:inline;padding:25px 0px 25px 0px;font-family:Arial,sans-serif;font-size:25px;font-weight:normal;color:#5D5D5D; }
.mainCntAccess { display:block;left:-9999px;position:absolute; }
a.ancAsb:link,a.ancAsb:visited,a.ancAsb:hover,a.ancAsb:active,.greyBoxRCP .greyInnerLayer .greyBoxContent a.ancAsb:link,.greyBoxRCP .greyInnerLayer .greyBoxContent a.ancAsb:visited,.greyBoxRCP .greyInnerLayer .greyBoxContent a.ancAsb:active,.greyBoxRCP .greyInnerLayer .greyBoxContent a.ancAsb:hover { color:#0000CC;text-decoration:underline; }
.out-style { outline-style:none; }
.show { display:block; }
.hide { display:none; }
.urid-ul { list-style-type:none;padding:0px;margin:0px; }
#cs-anch a { text-decoration:underline; }
.g-hdn { position:absolute;left:-1000px; }
.pageHdAcess { font-family:Arial,sans-serif;font-size:25px;color:#5D5D5D; }
#userIdErrorLayer i { position:absolute;left:-1000px; }

/* b=11909286 */
