BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.mh-hline {
	BACKGROUND-IMAGE: url(../images/mhd_reg_5x1_lines.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ececec;color:ffffff
}
.mh-vline {
	BACKGROUND-IMAGE: url(../images/mhd_reg_1x5_lines.gif); BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ececec;color:ffffff
}
.mh-hline-bkg {
	BACKGROUND: #ececec;color:ffffff
}
.mh-leftnav-bkg {
	BACKGROUND: #cadceb;color:ffffff
}
.mh-titlebar1 {
	BACKGROUND: #d4001a;color:ffffff
}
.mh-titlebar1 SPAN {
	COLOR: #ffffff
}
.mh-titlebar2 {
	BACKGROUND: #003366;color:ffffff
}
.mh-titlebar2 SPAN {
	COLOR: #ffffff
}
.auraltext {
	FONT-SIZE: 0px; LEFT: -10000px; POSITION: absolute
}
DIV.hs-masthead {
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
DIV.hs-footer {
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.skipon {font-family: verdana, arial, sans-serif; font-size: 80%; border: none; left: 0px; position: relative; }
.skipoff {font-size: 0px; left: -10000px; position: absolute;}
.mh-link1 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 60%; COLOR: #666666; TEXT-DECORATION: none
}
.mh-link2 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 60%; COLOR: #666666; TEXT-DECORATION: none
}
.mh-link2 {
	COLOR: #d4001a
}
.mh-link1:hover {
	COLOR: #5c94d0
}
.mh-link2:hover {
	COLOR: #aa051a
}
.searchbox {
	FONT-SIZE: 70%; WIDTH: 17.5em; BORDER-TOP-STYLE: inset; BORDER-BOTTOM: medium none; BORDER-RIGHT-STYLE: inset; BORDER-LEFT-STYLE: inset
}
.home-searchbox {
	FONT-SIZE: 70%; WIDTH: 13.5em; BORDER-TOP-STYLE: inset; BORDER-BOTTOM: medium none; BORDER-RIGHT-STYLE: inset; BORDER-LEFT-STYLE: inset
}
.linksep1 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 40%; MARGIN: 0px; BORDER-LEFT: 0px; COLOR: #666666; BORDER-BOTTOM: 0px
}
.ada-search {
	FONT-SIZE: 1px; BACKGROUND: #ececec; MARGIN: 0px; COLOR: #ececec; line-height: 0px.01em
}
.ftr-hr {
	BACKGROUND: #333333;color:ffffff
}
TD.ftr-cell {
	FONT-SIZE: 100%
}
.ftr-link1 {
	FONT-SIZE: 65%; COLOR: #405ebe; TEXT-DECORATION: none
}
.ftr-link1:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.ftr-text1 {
	FONT-SIZE: 65%; COLOR: #000000
}
.ftr-text1 A {
	COLOR: #003366; TEXT-DECORATION: underline
}
.ftr-text1 A:hover {
	COLOR: #3366cc; TEXT-DECORATION: underline
}
.ftr-text2 {
	FONT-WEIGHT: bold; FONT-SIZE: 67%; COLOR: #000000
}
A.ftr-link2 {
	COLOR: #405ebe
}
A.ftr-link2:visited {
	COLOR: #405ebe
}
A.ftr-link2:hover {
	COLOR: #0000ff
}

INPUT.btnred {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 60%; BORDER-LEFT-COLOR: #ff6699; BACKGROUND: #d4001a; BORDER-BOTTOM-COLOR: #660000; PADDING-BOTTOM: 0px; WIDTH: 100%; COLOR: #ffffff; BORDER-TOP-COLOR: #ffcccc; PADDING-TOP: 0px; BORDER-RIGHT-COLOR: #660000
}
A.btnred {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 60%; BORDER-LEFT-COLOR: #ff6699; BACKGROUND: #d4001a; BORDER-BOTTOM-COLOR: #660000; PADDING-BOTTOM: 0px; WIDTH: 100%; COLOR: #ffffff; BORDER-TOP-COLOR: #ffcccc; PADDING-TOP: 0px; BORDER-RIGHT-COLOR: #660000
}
A.btnred-over {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 60%; BORDER-LEFT-COLOR: #ff6699; BACKGROUND: #d4001a; BORDER-BOTTOM-COLOR: #660000; PADDING-BOTTOM: 0px; WIDTH: 100%; COLOR: #c7d2dc; BORDER-TOP-COLOR: #ffcccc; PADDING-TOP: 0px; BORDER-RIGHT-COLOR: #660000
}
A.btnred {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 59%; PADDING-BOTTOM: 1px; BORDER-LEFT: 1px solid; LINE-HEIGHT: 120%; PADDING-TOP: 1px; BORDER-BOTTOM: 1px solid; TEXT-DECORATION: none
}
A.btnred-over {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 59%; PADDING-BOTTOM: 1px; BORDER-LEFT: 1px solid; LINE-HEIGHT: 120%; PADDING-TOP: 1px; BORDER-BOTTOM: 1px solid; TEXT-DECORATION: none
}
A.btnred:hover {
	COLOR: #c7d2dc
}
A.btnred-over {
	COLOR: #c7d2dc
}

DIV.btnred {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #ffcccc 1px solid; BORDER-LEFT: #ff6699 1px solid; BORDER-BOTTOM: #000000 1px solid
}

INPUT.btn1 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 60%; BORDER-LEFT-COLOR: #b7cfeb; BACKGROUND: #366496; BORDER-BOTTOM-COLOR: #003366; PADDING-BOTTOM: 0px; WIDTH: 100%; COLOR: #ffffff; BORDER-TOP-COLOR: #cbe3ff; PADDING-TOP: 0px; BORDER-RIGHT-COLOR: #003366
}
A.btn1 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 60%; BORDER-LEFT-COLOR: #b7cfeb; BACKGROUND: #366496; BORDER-BOTTOM-COLOR: #003366; PADDING-BOTTOM: 0px; WIDTH: 100%; COLOR: #ffffff; BORDER-TOP-COLOR: #cbe3ff; PADDING-TOP: 0px; BORDER-RIGHT-COLOR: #003366
}
A.btn1-over {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 60%; BORDER-LEFT-COLOR: #b7cfeb; BACKGROUND: #366496; BORDER-BOTTOM-COLOR: #003366; PADDING-BOTTOM: 0px; WIDTH: 100%; COLOR: #ffffff; BORDER-TOP-COLOR: #cbe3ff; PADDING-TOP: 0px; BORDER-RIGHT-COLOR: #003366
}
A.btn1 {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 65%; PADDING-BOTTOM: 1px; BORDER-LEFT: 1px solid; LINE-HEIGHT: 120%; PADDING-TOP: 1px; BORDER-BOTTOM: 1px solid; TEXT-DECORATION: none
}
A.btn1-over {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 65%; PADDING-BOTTOM: 1px; BORDER-LEFT: 1px solid; LINE-HEIGHT: 120%; PADDING-TOP: 1px; BORDER-BOTTOM: 1px solid; TEXT-DECORATION: none
}
A.btn1:hover {
	COLOR: #c7d2dc
}
A.btn1-over {
	COLOR: #c7d2dc
}
DIV.btn1 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #cbe3ff 1px solid; BORDER-LEFT: #b7cfeb 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.h2-ada {
	FONT-SIZE: 1px; BACKGROUND: #ffffff; MARGIN: 0em; COLOR: #ffffff
}
.show-tab {font-family: verdana, arial, sans-serif; font-size: 80%; border: none; left: 0px; position: relative; }

