/**********************************************************
 *                                                        *
 *  Copyright ©2005  Corillian Corporation                *
 *                                                        *
 *  All rights reserved.                                  *
 *                                                        *
 *  Highly Confidential.                                  *
 *                                                        *
 *  No portion of this code may be reproduced,            *
 *  transmitted or distributed without the express        *
 *  written permission of Corillian Corporation.          *
 *                                                        *
 **********************************************************/

/**********************************************************
 *                                                        *
 *  HTML ENTITIES                                         *
 *                                                        *
 **********************************************************/
body{
	width:670px;
}

/**********************************************************
 *                                                        *
 *  GENERAL                                               *
 *                                                        *
 **********************************************************/

div.sectionDivider{
	height: 15px;
}

/**********************************************************
 *                                                        *
 *  HEADER                                                *
 *                                                        *
 **********************************************************/

div.secondaryNav{
	visibility: hidden;
	display: none;
}

/**********************************************************
 *                                                        *
 *  FOOTER                                                *
 *                                                        *
 **********************************************************/


/**********************************************************
 *                                                        *
 *  ERRORS/VALIDATION                                     *
 *                                                        *
 **********************************************************/


/**********************************************************
 *                                                        *
 *  NAVIGATION                                            *
 *                                                        *
 **********************************************************/

div.navigationContainer{
	display: none;
	visibility: hidden;
}
 
/**********************************************************
 *                                                        *
 *  TABLES                                                *
 *                                                        *
 **********************************************************/


/**********************************************************
 *                                                        *
 *  WORKSPACE                                             *
 *                                                        *
 **********************************************************/

div.instructionsContainer{
	margin-top: 0px;
 	margin-bottom: 0px;
 	margin-left: 10px;
 	width: 660px !important;
}

