@charset "UTF-8";
/* CSS Document */

.tablecenter {
	background-color: #F2F2F2;
	text-align: left;
	vertical-align: top;
	padding: 10px;
}
.greentable {
	background-color: #91D330;
	text-align: left;
	vertical-align: top;
	padding: 15px;
	height: 250px;
	width: 600px;
	background-repeat: repeat;
	margin: 10px;
	
}
.imagetable {
	text-align: left;
	vertical-align: text-top;
	
}
.texttable1 {
	text-align: left;
	vertical-align: top;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 15px;
	color: #EEFFD0;
	margin-left: 20px;
	text-indent: 20px;
}
.texttable2 {
	text-align: left;
	vertical-align: top;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 15px;
	color: #EEFFD0;
	margin-left: 30px;
	text-indent: 30px;
}
.tablespacer {
	text-align: left;
	vertical-align: top;
	padding: 5px;
}
.space-top-left {
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.tablecenter2 {
	background-color: #F2F2F2;
	text-align: left;
	vertical-align: top;
	padding: 10px;
	font-size: 12px;
}

.tablecenter2 a {
	font-size: 18px;
	}
	
.tablecenter-silver {
	background-color: #CFCFCF;
	text-align: center;
	vertical-align: top;
	padding: 10px;
	font-size: 12px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #333;
	border-right-color: #333;
	border-bottom-color: #333;
	border-left-color: #333;
}
.tablecenter-bronze {
	background-color:  	#CF843A;
	text-align: center;
	vertical-align: top;
	padding: 10px;
	font-size: 12px;
}
.tablecenter-gold {
	background-color: #E9E9E9;
	text-align: center;
	vertical-align: top;
	padding: 10px;
	font-size: 12px;
	background-image: url(http://www.110mb.com/images/goldbar.gif);
	background-repeat: repeat;
}
.biggerbold {
	font-size: 14px;
	font-weight: bold;
}
.tablecenter3 {
	text-align: left;
	background-color: #F2F2F2;
	vertical-align: top;
	padding: 5px;
	font-size: 12px;
	margin: 5px;
	
}
.tablecenter3-darker {
	text-align: left;
	background-color: #CECECE;
	vertical-align: top;
	padding: 5px;
	font-size: 12px;
	margin: 5px;	
}
.tableborder {
	font-size: 14px;
	font-weight: bold;
	border: 1px double #333;
}

.headings-light {
	font-family: calibri, arial, helvetica, sans-serif;
	font-size:20px;
	letter-spacing:-1px;
	font-weight:bold;
	color: #161616;
}
.headings-small-light {
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color: #00486C;
}
.normal-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #666;
	line-height: 1.5;
	padding-bottom: 0px;	
}

.tabletop {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #999;
	vertical-align: top;
	height: 300px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 3px;	
}
.tabletop2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #999;
	vertical-align: top;
	padding: 0px;
}
#footer-new {
	margin-bottom: 0px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCC;
	padding-top:10px;
	padding-bottom: 0px;
	background-color: #215176;
	width: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
}
	#footer-new a {
	text-decoration:none;
	color:#CCC;
	padding-bottom: 0px;
}
	#footer-new a:hover {
	text-decoration:underline;
	color:#999;
	padding-bottom: 0px;
}
.footer-table {
	vertical-align: middle;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 0px;
	padding-left: 6px;	
}
.footer-table-right {
	text-align: right;
	vertical-align: middle;
	width: 450px;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 0px;
	padding-left: 6px;
}


.tablecenter4 {
	text-align: left;
	vertical-align: top;
	padding: 5px;
	font-size: 12px;
	margin: 5px;
	
}
.tablecenter4 a {
	font-size: 13px;
	font-weight: bold;
	}

.grid_404-2{width:660px;display:inline;float:left;margin-left:10px;margin-right:10px}
.grid_404{display:inline;float:left;margin-left:10px;margin-right:10px;width:260px}
.grid_full{display:inline;float:left;margin-left:10px;margin-right:10px;width:100%}