/* 
	Title: es_ES/lang.css
	Author Name: Steve Ganz
	Author Date: 2005-10-28
	Description: Exclusive and redefined rules for es_ES.
*/
div#header.mainHeader { 
	width: 900px !important;
}
div#header.mainHeader form { 
	width: 250px;
}
div#navPrimary { 
	width: 730px;
}
div#navPrimary a {
	padding: 0px 0px 0px 5px;
}

div#navPrimary a span {
	padding:10px 12px 6px 6px;
}
div#navPrimary li#navMyAccount.expanded ul {
	width: 670px;
}
div#navPrimary li.expanded ul a span {
	padding: 10px 10px 3px 6px;
}
.label#labelLong {
	width: 36%;
}

/* start rosetta-related fixes for ESM */
form.signup div.contentLeft .payment-type {
	float: left;
}
form.signup div.contentLeft div#fieldrowCSC {
	float: left; 
	clear: both; 
	width: 21.4em !important;
}

form.signup div.contentLeft div#fieldrowCCNumber, form.signup div.contentLeft div.payment-type  {
	clear:left; 
}

form.signup div.contentLeft div#fieldrowCCExpDate {
	width: 30em;
}
/* end rosetta-related fixes for ESM */
.loginbtn {width: auto;}    /* For setting the width of login button */

.businessDescriptionLabel {
	display: block;
}

div#openDispute, div#tutorials {
	height:70px;
}
