/* 
	Title: fr_FR/country.css
	Author Name: Cynthia Chu
	Author Date: 2007-07-23
	Description: Exclusive and redefined rules for fr_FR for SRD.
*/
#searchForm { width:200px; }
#registerMobile fieldset.multi legend span.label{width:315px;}
#registerMobile fieldset.multi .first{margin-left:320px;}
#registerMobile fieldset.multi legend span.helptxt{width:310px; white-space:normal;padding-left:140px;}
