/**********************************************************
 *                                                        *
 *  Copyright ©2005  Corillian Corporation                *
 *                                                        *
 *  All rights reserved.                                  *
 *                                                        *
 *  Highly Confidential.                                  *
 *                                                        *
 *  No portion of this code may be reproduced,            *
 *  transmitted or distributed without the express        *
 *  written permission of Corillian Corporation.          *
 *                                                        *
 **********************************************************/

/**********************************************************
 *                                                        *
 *  HTML ENTITIES                                         *
 *                                                        *
 **********************************************************/

body{
	font-size: 12px;
}

input,
input *,
select,
select *,
table.radioButtonList,
table.radioButtonList * {
	font-size: 11px;
}

table.OAOradioButtonList,
table.OAOradioButtonList * {
	font-size: 11px;
	font-weight: normal;
	color:#333333;
}

/**********************************************************
 *                                                        *
 *  GENERAL                                               *
 *                                                        *
 **********************************************************/


/**********************************************************
 *                                                        *
 *  HEADER                                                *
 *                                                        *
 **********************************************************/

div.favoritesContainer{
	font-size: 12px;
}

div.favoritesContainer *{
	font-size: 12px;
}

div.logo{
	width: 325px;
	height: 71px;
}

.titleToolbar
{
	margin-top: 10px;
	padding-bottom: 0px;
}

.stepImage
{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

/**********************************************************
 *                                                        *
 *  FOOTER                                                *
 *                                                        *
 **********************************************************/


/**********************************************************
 *                                                        *
 *  ERRORS/VALIDATION                                     *
 *                                                        *
 **********************************************************/


/**********************************************************
 *                                                        *
 *  NAVIGATION                                            *
 *                                                        *
 **********************************************************/


/**********************************************************
 *                                                        *
 *  TABLES                                                *
 *                                                        *
 **********************************************************/


/**********************************************************
 *                                                        *
 *  WORKSPACE                                             *
 *                                                        *
 **********************************************************/

/**********************************************************
 *                                                        *
 *  ONLINE ACCOUNT ORIGINATION                            *
 *                                                        *
 **********************************************************/
/**********************************************************
 *  OAO HEADER                                            *
 **********************************************************/

.oaoTitlebar
{
	width: 490px;
	margin: 5px 10px 0px 0px;
}
