div div.col h2 {height:20px; margin:0; border:1px solid #cde; padding:2px 6px 0 6px; color:#000; background-image:url(../../en_US/i/scr/scr_hdr_grd_bg.jpg);}
div.col ul {margin:7px; padding:0; list-style:none;}
div.col li {margin: 0; padding:0; font-size:1.1em;}
span.merchantName{display:block;}
